~$*
.DS_Store
.cproject
.idea
.pydevproject
.project

/local.mk
/build
/build-*
/build_*
/Build-*
/Build_*
/*.app
/.settings

*.d
*.gif
*.o
*.orig
*.pb.h
*.pb.cc
*.png
*.pyc
*.ptx

bak_*
/.ptp-sync
.ptp-sync-folder
/.gdbinit
/Debug

/regression/biphasic_switch.lm

/test_case/*
!/test_case/clean
!/test_case/clean/biphasic_switch*.lm

# ipython notebook stuff
*.ipynb
.ipynb

# lm_anal intermediate file stuff
*.lmint
*.mod

.gdb_history
